body{
  margin-top: 40px;
}
.table-css{
   
    display: flex;
    justify-content: center;
    margin: 5px;
    padding: 5px;
    align-items: center;
}
thead, tbody{
    text-align: center;
    color: black;
    padding: 4px;
}
thead{
    background-color: rgb(238, 233, 233);
    text-align: left;
}
table, th, td{
    border: 2px solid rgb(127, 136, 135);
    border-collapse: collapse;    
    padding: 12px;
    width: 800px; 
}
